html {
  margin: 1%;
}


/* ----- Homepage ----- */
.Homepage {
  text-align: center;
  margin-top: 8rem;
}

.signup-section {
  margin-top: 6rem;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
}

#signup-button {
  align-self: center;
  background-color: lightgray;
  border-radius: 12px;
  width: 10rem;
  height: 2.2rem;
  margin: 15px;
}

/* ------------------ */
