html {
  margin: 1%;
}

a {
  text-decoration: none;
  color: black;
}

*, *::before, *::after {
  box-sizing: border-box;
}


#error {
  background-color: rgba(247, 23, 53, .7);
  text-align: center;
  padding: 1rem;
  color: white;
  font-size: 1.2rem;
  animation-name: error;
  animation-duration: 3s;
}

@keyframes error {
   0% {
     opacity: 0;
   }

   100% {
     opacity:1;
   }
}
/* ----- Homepage ----- */
.Homepage {
  text-align: center;
  margin-top: 8rem;
}

.signup-section {
  margin-top: 6rem;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
}

#signup-button {
  align-self: center;
  background-color: lightgray;
  border-radius: 12px;
  width: 10rem;
  height: 2.2rem;
  margin: 15px;
}

/* ------------------ */

/* ----- Categories Page ----- */

.CategoryPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

#category-button {
  background-color: lightgray;
  margin: auto;
  width: 100%;
  height: 10rem;
  border: none;
  padding: 10%;
  margin-top: 1rem;
  font-size: 1.2rem;
}

#options {
  width: 40%;
  margin-top: 30%;
}

.nav-buttons {
  display: flex;
  align-items: center;
  height: 40%;
}

.nav-button > button {
  margin: none;
  border: none;
  background-color: inherit;
  width: 10%;
  height: 10%;
}
/* ------------------ */


/* ----- Card Page ----- */

  .card-buttons {
    display: flex;
    justify-content: center;
  }

  #left {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .card-buttons > button {
    background-color: inherit;
    border: none;
    width: 100%;
    height: 3rem;
    margin-top: 3rem;
  }

  .card-container {
    height: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }

  #choice-button > img {
    width: 25%;
  }

  #card-info {
    height: 60vh;
    width: 100%;
    font-size: 1.7rem;
    padding: 10% 4%;
  }

  #card-content {
    text-align: center;
  }
  #card-peppers {
    border: 5px solid ;
  }

  #card {
    background-color: lightgray;
    display: inherit;
    height: 100%;
    border-top: 2px solid gray;
    border-left: 1.5px solid gray;
    border-right: .5px solid gray;
    padding: 10% 8%;
  }

  .peppers {
    background-color: lightgray;
    text-align: right;
    border-bottom: 5px solid gray;
    border-left: 1.5px solid gray;
  }

  #hot-pepper {
    height: 45px;
    position:static;
    transform: rotate(35deg)
  }
/* ------------------ */

/* ----- Login & Signup Forms ----- */

.SignupForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2.5rem;
}

.SignupForm > input[type='submit'] {
  background-color: lightgray;
  padding: 10px;
  border-radius: 15px;
  margin-top: 1rem;
}

.SignupForm > a {
  margin-top: 2.5rem;
}

.LoginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3.5rem;
}

.input-section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 90%;
  height: 100%;
}

.input-section > label {
  margin-left: 1rem;
  margin-bottom: .8rem;
}

.input-section > input {
  padding: 1rem;
  border-radius: 15px;
  border: none;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
}

.input-section > input:focus {
  /* background-color: red; */
  /* add styling for when user clicks in input */
}

.LoginForm > input[type='submit'] {
  background-color: lightgray;
  padding: 10px;
  border-radius: 15px;
  margin-top: 1rem;
}
/* ------------------ */


/* ----- GameOver ----- */


#GameOver {
  width: 100vw;
  height: 100vh;
  animation-name: transitionScreen;
  animation-duration: 2s;
  position:absolute;
  padding: 5%;
  text-align: center;
  font-size: 1.5rem;
}

.navigation-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25%;
  animation-name: buttonsTransition;
  animation-duration: 2s;
}

@keyframes buttonsTransition {
   0% {
     opacity: 0;
   }

   70%{
     opacity: 0;
   }

   100% {
     opacity: 100%;
   }
}

.navigation-links > a {
  background-color: lightgray;
  margin-bottom: 7%;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 4%;
  border-radius: 25px;
  width: 90%;
  height: 3.5rem;
  font-size: 1.3rem;
}


@keyframes transitionScreen {
   0% {
     right: 100%;
     opacity: 10%;
   }
   50%{
     right : 0;
     opacity: 70%;
   }
   100% {
     right: 0;
     opacity: 100%;
   }
}

/* ------------------ */

/* ----- Profile ----- */

.Profile {
  height: 100vh;
}

#username-display {
  padding-top: 20%;
  text-align: center;
}

.profile-settings {
  display: flex;
  flex-direction: column;
  margin-top: 33%;
}

.profile-setting-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  background-color: lightgray;
}

.profile-setting-info > img {
  width: 50px;
  margin: 20px;
  border: 3px solid gray;
  border-radius: 50%;
  padding: 10px;
  background-color: gray;
}

#back-button {
  width: 2em;
  text-align: left;
  margin-left: 4%;
  margin-top: 4%;
}

/* ------------------ */

/* ----- Are You Sure Page ----- */

#AreYouSure {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(204, 204, 204, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.confirmation-content {
  background-color: gray;
  padding: 1rem;
  text-align: center;
  opacity: 1;
  height: 30vh;
  width: 95vw;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.sure-buttons > button {
  background-color: lightgray;
  margin: 10px;
  border-radius: 2px;
  width: 3rem;
  height: 1.5rem;
}

/* ------------------ */

/* ----- Login & Signup Forms ----- */

/* ------------------ */
